{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - ChickenAlert{% else %}ChickenAlert{% endif %}
{% endblock %}


{% block body_attribs %}
    style="background-color: #b55b53;
    background-image:
    linear-gradient(transparent 99px, white 99px),
    linear-gradient(90deg, transparent 99px, white 99px),
    linear-gradient(transparent 19px, rgba(255, 255, 255, 0.3) 19px),
    linear-gradient(90deg, transparent 19px, rgba(255, 255, 255, 0.3) 19px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;"
{% endblock %}

{% block navbar %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar"
         style="background-color: #b55b53; opacity: 0.85">

        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/static/images/icons8-волнистый-попугайчик-48.png" width="30" height="30"
                 class="d-inline-block align-top" alt="icons">
            ChickenHome
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto smooth-scroll">
                {% if major %}
                    <li class="nav-item active">
                        <a class="nav-link active" href="#nutrition">Health</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews">Reviews</a>
                    </li>
                {% endif %}
                {% if major2 %}
                    <li class="nav-item active">
                        <a class="nav-link active" href="#Myths">Myths</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Advantages">Advantages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Place">Place</a>
                    </li>
                {% endif %}
                {% if major3 %}
                    <li class="nav-item active">
                        <a class="nav-link active" href="{{ url_for('useful_information', usefuli_id=1) }}">Morning exercise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('useful_information', usefuli_id=2) }}">5 minutes for yourself</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('useful_information', usefuli_id=3) }}">Basic set of products</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ url_for('index') }}" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nutrition program</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('nutrition_program', nutrition_id=10) }}">Высокопротеиновое
                            питание</a>
                        <a class="dropdown-item" href="{{ url_for('nutrition_program', nutrition_id=20) }}">3-недельная
                            диета</a>
                        <a class="dropdown-item" href="{{ url_for('nutrition_program', nutrition_id=30) }}">Пища для
                            силы</a>
                        <a class="dropdown-item"
                           href="{{ url_for('nutrition_program', nutrition_id=40) }}">Классическая</a>
                        <a class="dropdown-item" href="{{ url_for('nutrition_program', nutrition_id=50) }}">Сахарный
                            детокс</a>
                        <a class="dropdown-item" href="{{ url_for('nutrition_program', nutrition_id=60) }}">Веган на
                            неделю</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="{{ url_for('index') }}" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sports program</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('sport_program', sport_id=1) }}">Для силы</a>
                        <a class="dropdown-item" href="{{ url_for('sport_program', sport_id=2) }}">Для начинающих</a>
                        <a class="dropdown-item" href="{{ url_for('sport_program', sport_id=3) }}">Для выносливых</a>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav justify-content-end">
            {% if current_user.is_anonymous %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" href="{{ url_for('registration') }}">Registration</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('profile', uuser_id=current_user.id) }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('test', test_id=1) }}">Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('ru') }}
{% endblock %}
