{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/index.css">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">It's time to take care of yourself</h1>
        <p class="lead">Time will always be short</p>
        <hr class="my-4">
        <p>Just do it</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">SIGN UP</a>
        </p>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="..." alt="Первый слайд">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Второй слайд">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Третий слайд">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="post-wrap">
        <div class="post-item">
            <div class="item-content">
                <div class="item-icon group"></div>
                <div class="item-body">
                    <h3>Потеря веса за 3 недели</h3>
                    <ul style="list-style-type: circle;">
                        <li>Блюда планируются заранее</li>
                        <li>Рецепты с 5-ю ингредиентами</li>
                        <li>Списки покупок включены</li>
                    </ul>
                </div>
                <div class="item-footer">
                    <a href="#" class="link"><span>Подробнее</span></a>
                </div>
            </div>
        </div>

        <div class="post-item">
            <div class="item-content">
                <div class="item-icon tree"></div>
                <div class="item-body">
                    <h3>Счетчик калорий</h3>
                    <ul style="list-style-type: none;">
                        <li>База данных о продуктах питания</li>
                        <li>Сканер штрих-кода</li>
                        <li>Отследивание упражнений</li>
                    </ul>
                </div>
                <div class="item-footer">
                    <a href="#" class="link"><span>Подробнее</span></a>
                </div>
            </div>
        </div>

        <div class="post-item">
            <div class="item-content">
                <div class="item-icon anchor"></div>
                <div class="item-body">
                    <h3>Круизы</h3>
                    <ul style="list-style-type: none;">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="item-footer">
                    <a href="#" class="link"><span>Подробнее</span></a>
                </div>
            </div>
        </div>

        <div class="post-item">
            <div class="item-content">
                <div class="item-icon video"></div>
                <div class="item-body">
                    <h3>Видеосъемка</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
                </div>
                <div class="item-footer">
                    <a href="#" class="link"><span>Подробнее</span></a>
                </div>
            </div>
        </div>

        <div class="post-item">
            <div class="item-content">
                <div class="item-icon photo"></div>
                <div class="item-body">
                    <h3>Фотография</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
                </div>
                <div class="item-footer">
                    <a href="#" class="link"><span>Подробнее</span></a>
                </div>
            </div>
        </div>

        <div class="post-item">
            <div class="item-content">
                <div class="item-icon gift"></div>
                <div class="item-body">
                    <h3>Подарки</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat a quam non blandit.</p>
                </div>
                <div class="item-footer">
                    <a href="#" class="link"><span>Подробнее</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
{% endblock %}