{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/mainPageIndex.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <br> <br> <br>
    <script>
        var i = 0;
        var txt = '«Подтянутая женщина всегда добивается того, о чем женщина в халате может только мечтать»';
        var speed = 50;

        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("demo").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
        }
    </script>
    <div class="jumbotron card card-image" id="que1" align="center"
         style="background-image: linear-gradient(to right, #5d3368 0%, #e59090 61%, #e5b1a0 100%); font-family: 'Inconsolata', monospace;">
        <h3>Just Eat It</h3>
        <hr>
        <div>
            <h5 style="color: #cecce2;">Всегда мечтали иметь подтянутое тело, но</h5>
        </div>
        <hr>
        <div><br>
            <h5 style="color: #cecce2;">«Тому, кто спит, не достается ничего, кроме грез» — Серена Уильямс</h5><br>
            <h5 id="demo">
                <button onclick="typeWriter()">Click me</button>
            </h5>
            <br>
            <h5 style="color: #cecce2;">«Что мною движет на пути к цели? Моя слабость, которую я не переношу и превращаю
                в силу, чтобы продолжать борьбу» — Майкл Джордан.</h5><br>
            <h5>«Уделите время самому себе. Тренировки не истощают мой запас энергии. Наоборот, они насыщают меня
                энергией и заставляют меня снова почувствовать себя юным пареньком» — Ричард Брэнсон</h5>
        </div>
        <br>
        <hr>
        {% if current_user.is_authenticated %}<br>
            <div><a href="{{ url_for('profile', uuser_id=current_user.id) }}" role="button"
                    style="border:none; border-radius:1.5rem;
                                    padding: 1%; width: 20%; cursor: pointer; background: linear-gradient(to right, #80d8f5 0%, #92c8f5 71%, #5fabf5 100%); color: #f9f6ff;">Profile</a>
            </div><br>
            <hr>
            <h6><s>Всё ещё не с нами?</s></h6>
        {% else %}<br>
            <h6>Всё ещё не с нами?</h6><br>
            <div><a href="{{ url_for('registration') }}" role="button"
                    style="border:none; border-radius:1.5rem;
                                    padding: 1%; width: 20%; cursor: pointer; background: linear-gradient(to right, #80d8f5 0%, #92c8f5 71%, #5fabf5 100%); color: #f9f6ff;">Registration</a>
            </div>
        {% endif %}
    </div><br>

    <section id="nutrition" class="text-center">
        <div class="container"
             style="margin-top: 100px; margin-bottom: 100px; max-width: 90rem; max-height: 60rem">
            <span align="center"
                  style="font-family: 'Inconsolata', monospace; border:3px #413D4C  solid; font-size: 29px; padding: 10px; background-color: #e5b1a0; color:#fff;">Преимущества наших программ</span>
            <hr>
            <div class="post-wrap">
                <div class="post-item">
                    <div class="item-content">
                        <div class="item-body">
                            <img src="https://img.icons8.com/doodle/48/000000/ok-hand.png">
                            <a href="{{ url_for('nutrition_program', nutrition_id=10) }}"
                               class="link">
                                <h3 align="left">Протеиновое питание</h3>
                                <ul class="row align-items-start" style="list-style-type: circle;">
                                    <li>Меньше аппетит</li>
                                    <li>Больше контроля</li>
                                    <li>Блюда планируются заранее</li>
                                </ul>
                            </a>
                        </div>
                        <div class="item-footer">
                            <a href="{{ url_for('nutrition_program', nutrition_id=10) }}"
                               class="link"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>

                <div class="post-item" style="min-width: 21.5rem; max-height: 22rem">
                    <div class="item-content">
                        <img src="https://img.icons8.com/doodle/48/000000/easy.png">
                        <div class="item-body">
                            <a href="{{ url_for('nutrition_program', nutrition_id=20) }}"
                               class="link">
                                <h3 align="left">3-недельная диета </h3>
                                <ul class="row align-items-start" style="list-style-type: circle;">
                                    <li>Блюда планируются заранее</li>
                                    <li>Рецепты с 5-ю ингредиентами</li>
                                    <li>Списки покупок включены</li>
                                </ul>
                            </a>
                        </div>
                        <div class="item-footer">
                            <a href="{{ url_for('nutrition_program', nutrition_id=20) }}"
                               class="link"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>

                <div class="post-item">
                    <div class="item-content">
                        <img src="https://img.icons8.com/doodle/48/000000/call-me.png">
                        <div class="item-body">
                            <a href="{{ url_for('nutrition_program', nutrition_id=30) }}"
                               class="link">
                                <h3 align="left">Пища для силы</h3>
                                <ul class="row align-items-start" style="list-style-type: circle;">
                                    <li>Больше контроля</li>
                                    <li>Меньше аппетит</li>
                                    <li>Отслеживание упражнений</li>
                                </ul>
                            </a>
                        </div>
                        <div class="item-footer">
                            <a href="{{ url_for('nutrition_program', nutrition_id=30) }}"
                               class="link"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>

                <div class="post-item">
                    <div class="item-content">
                        <img src="https://img.icons8.com/doodle/48/000000/facebook-like.png">
                        <div class="item-body">
                            <a href="{{ url_for('nutrition_program', nutrition_id=40) }}"
                               class="link">
                                <h3 align="left">Классическая диета</h3>
                                <ul class="row align-items-start" style="list-style-type: circle;">
                                    <li>Без запрещенных продуктов</li>
                                    <li>Здоровая пища</li>
                                    <li>Блюда планируются</li>
                                </ul>
                            </a>
                        </div>
                        <div class="item-footer">
                            <a href="{{ url_for('nutrition_program', nutrition_id=40) }}"
                               class="link"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>

                <div class="post-item">
                    <div class="item-content">
                        <img src="https://img.icons8.com/doodle/48/000000/handshake--v1.png">
                        <div class="item-body">
                            <a href="{{ url_for('nutrition_program', nutrition_id=50) }}"
                               class="link">
                                <h3 align="left">Сахарный детокс</h3>
                                <ul class="row align-items-start" style="list-style-type: circle;">
                                    <li>Ускоренное сжигание жира</li>
                                    <li>Блюда планируются заранее</li>
                                    <li>Меньше зависимость</li>
                                </ul>
                            </a>
                        </div>
                        <div class="item-footer">
                            <a href="{{ url_for('nutrition_program', nutrition_id=50) }}"
                               class="link"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>

                <div class="post-item">
                    <div class="item-content">
                        <img src="https://img.icons8.com/doodle/48/000000/volunteering--v1.png">
                        <div class="item-body">
                            <a href="{{ url_for('nutrition_program', nutrition_id=60) }}"
                               class="link">
                                <h3 align="left">Веган на неделю</h3>
                                <ul class="row align-items-start" style="list-style-type: circle;">
                                    <li>Овощи и Фрукты</li>
                                    <li>Меньше аппетит</li>
                                    <li>Отслеживание упражнений</li>
                                </ul>
                            </a>
                        </div>
                        <div class="item-footer">
                            <a href="{{ url_for('nutrition_program', nutrition_id=60) }}"
                               class="link"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="reviews">
        <div class="row justify-content-center">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
                 style="background-image: linear-gradient(to right, #5d3368 0%, #e59090 61%, #e5b1a0 100%); width:800px; height: 600px; font-family: 'Inconsolata', monospace;"
                 align="center">
                <div class="carousel-inner">
                    <div class="carousel-item active"><br><br>
                        <div class="d-block w-400">
                            <h2 style="color: #ffdcc2"><b>Ваши отзывы о программах</b></h2>
                            <hr>
                            <img src="/static/images/feedback.png">
                            <br>
                            <hr>
                            <p>Не верите нам? Реальные отзывы от реальных людей!</p>
                        </div>
                    </div>
                    {% for row in records %}
                        <div class="carousel-item">
                            <div class="col align-items-center">
                                <div class="row-md-4"><br><br>
                                    <h3><b>{{ row[2] }}</b></h3>
                                    <hr>
                                    <h5 style="color: #ffdcc2"><b>{{ row[1] }}</b></h5><br>
                                    <p>&#10077; {{ row[3] }} &#10078;</p>
                                    <hr>
                                    <br>
                                    <div><a href="{{ url_for('nutrition_program', nutrition_id=row[4]) }}" role="button"
                                            style="border:none; border-radius:1.5rem;
                                            padding: 1%; width: 20%; cursor: pointer; background: linear-gradient(to right, #80d8f5 0%, #92c8f5 71%, #5fabf5 100%); color: #f9f6ff;">Ссылка
                                        на программу</a>
                                    </div>
                                    <br>
                                    <hr>
                                    <h6 style="color: #ffdcc2">{{ row[0] }}</h6>
                                </div>
                            </div>


                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    Previous
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    Next
                </a>
            </div>
        </div>
        <br><br><br><br>
    </section>
{% endblock %}

