{% extends "base.html" %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/login.css">
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate class="transparent" style="background-image: url(https://sun9-15.userapi.com/c857228/v857228615/33605/mJg8c8dMbKM.jpg);">
        <div class="form-inner">
            <h3>Вход</h3>
            {{ form.hidden_tag() }}
            <p><br>
                {{ form.login.label }}
                {{ form.login(size=32) }}
                {% for error in form.login.errors %}
                    <span style="color: #9f5a6c;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span style="color: #9f5a6c;">[{{ error }}]</span>
                {% endfor %}
            </p>
{#            <p><br> {{ form.remember_me() }} {{ form.remember_me.label }} </p>#}
            <p> <br> {{ form.submit() }}</p>
        </div>
    </form>
{% endblock %}