{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/userLogin.css">
{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br>
    <form action="" method="post" novalidate class="transparent"
          style="background-image: url(https://sun9-15.userapi.com/c857228/v857228615/33605/mJg8c8dMbKM.jpg);">
        <div class="form-inner">
            <h3>Вход</h3> <br>
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.login.label }}
                {{ form.login(type="text", class="form-control", placeholder="Your login") }}
                {% for error in form.login.errors %}
                    <span style="color: #afe2ff;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(type="password", class="form-control", placeholder="Your password") }}
                {% for error in form.password.errors %}
                    <span style="color: #afe2ff;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <br>
            <p> {{ form.submit() }} </p>
        </div>
    </form>
{% endblock %}