{% extends "base.html" %}

{#{% block styles %}#}
{#    {{ super() }}#}
{#    <link rel="stylesheet"#}
{#          href="/static/styles/index.css">#}
{#{% endblock %}#}


{% block content %}
    <br><br><br><br><br>
    <div class="container" style="border: 1rem double  #92c8f5; border-radius: 3.125rem;  background-image: linear-gradient(to right, #b55b53 0%, #5d3368 51%, #b55b53 100%);">
        <div class="container my-5 z-depth-1">
            <section class="dark-grey-text">
                <div class="row pr-lg-5">
                    <div class="col-md-7 mb-4">
                        <div class="view">
                            <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid"
                                 alt="smaple image">
                        </div>
                    </div>

                    <div class="col-md-5 d-flex align-items-center">
                        <div class="container"
                             style="background-color: #F5E2CD; border: 0 solid #535d64; border-radius: 0.625rem"><br>
                            <h3 class="font-weight-bold mb-4">{{ records[2] }}</h3>
                            <p>{{ records[3] }}</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores deleniti explicabo
                                voluptatem
                                quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus,
                                fugiat
                                eum soluta blanditiis adipisci, velit dolore magnam.</p>
                            <a class="nav-link active" style=" text-decoration: none;
                                   outline: none;
                                   display: inline-block;
                                   color: white;
                                   padding: 20px 30px;
                                   margin: 10px 20px;
                                   border-radius: 10px;
                                   font-family: 'Montserrat', sans-serif;
                                   text-transform: uppercase;
                                   letter-spacing: 2px;
                                   background-image: linear-gradient(to right, #b55b53 0%, #5d3368 51%, #b55b53 100%);
                                   background-size: 200% auto;
                                   box-shadow: 0 0 20px rgba(0,0,0,.1);
                                   transition: .5s;"
                               href="#read" role="button">Read more</a><br><br>
                        </div>
                    </div>

                    <div class="col-md-5 d-flex align-items-center">
                        <div class="container"
                             style="background-color: #F5E2CD; border: 0 solid #535d64; border-radius: 0.625rem"><br>
                            <h3 class="font-weight-bold mb-4">{{ records[5] }}</h3>
                            <p>{{ records[6] }}</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores deleniti explicabo
                                voluptatem
                                quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus,
                                fugiat
                                eum soluta blanditiis adipisci, velit dolore magnam.</p>
                            <a class="nav-link active" style=" text-decoration: none;
                                   outline: none;
                                   display: inline-block;
                                   color: white;
                                   padding: 20px 30px;
                                   margin: 10px 20px;
                                   border-radius: 10px;
                                   font-family: 'Montserrat', sans-serif;
                                   text-transform: uppercase;
                                   letter-spacing: 2px;
                                   background-image: linear-gradient(to right, #b55b53 0%, #5d3368 51%, #b55b53 100%);
                                   background-size: 200% auto;
                                   box-shadow: 0 0 20px rgba(0,0,0,.1);
                                   transition: .5s;"
                               href="#read" role="button">Read more</a><br><br>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="container my-5 py-5 z-depth-1"
         style="background-color: #F5E2CD; border: 0 solid #535d64; border-radius: 0.625rem">
        <!--Section: Content-->
        <section class="text-center px-md-5 mx-md-5 dark-grey-text" id="read">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-lg-7">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores deleniti explicabo voluptatem
                        quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus, fugiat
                        eum soluta blanditiis adipisci, velit dolore magnam.</p>
                </div>
            </div>
        </section>
    </div>

    <br><br><br><br><br>
{% endblock %}