{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/nutrProgram.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
    <br><br><br><br><br>
    {% if current_user.np == records[1] %}<br>
        <div align="center"><a href="{{ url_for('add_feedback', nutrition_id=records[1]) }}" role="button"
                               style="border:none; border-radius:1.5rem; padding: 1%; width: 20%;
                                            cursor: pointer;
                                            background: linear-gradient(to right, #80d8f5 0%, #92c8f5 71%, #5fabf5 100%);
                                            color: #f9f6ff;">Leave feedback</a></div><br><br><br>
    {% endif %}
    <br>
    <div class="container"
         style="border: 1rem double  #92c8f5; border-radius: 3.125rem;  background-image: linear-gradient(to right, #b55b53 0%, #5d3368 51%, #b55b53 100%);">
        <div class="container my-5 z-depth-1">
            <section class="dark-grey-text">
                <div class="row pr-lg-5">
                    <div class="col-md-7 mb-4">
                        <div class="view">
                            <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid"
                                 alt="smaple image">
                        </div>
                    </div>

                    <div class="col-md-5 d-flex align-items-center">
                        <div class="container"
                             style="background-color: #F5E2CD; border: 0 solid #535d64; border-radius: 0.625rem; font-family: 'Inconsolata', monospace;">
                            <br>
                            <h3 class="mb-4">{{ records[2] }}</h3>
                            <hr>
                            <p>{{ np_desc[0] }}</p>
                            <p>{{ np_desc[1] }}</p>
                            <p>{{ np_desc[2] }}</p>
                            <h3>Сильные стороны программы</h3>
                            <hr>
                            <ul>
                                <li>{{ np_desc[3] }}</li>
                                <li>{{ np_desc[4] }}</li>
                                <li>{{ np_desc[5] }}</li>
                            </ul>
                            <div><a class="nav-link active" style=" text-decoration: none;
                                       outline: none;
                                       display: inline-block;
                                       color: white;
                                       padding: 20px 30px;
                                       margin: 10px 20px;
                                       border-radius: 10px;
                                       font-family: 'Montserrat', sans-serif;
                                       text-transform: uppercase;
                                       letter-spacing: 2px;
                                       background-image: linear-gradient(to right, #b55b53 0%, #5d3368 51%, #b55b53 100%);
                                       background-size: 200% auto;
                                       box-shadow: 0 0 20px rgba(0,0,0,.1);
                                       transition: .5s;"
                                     href="#read" role="button">Read more about Eat</a><br><br></div>
                            <div><a class="nav-link active" style=" text-decoration: none;
                                       outline: none;
                                       display: inline-block;
                                       color: white;
                                       padding: 20px 30px;
                                       margin: 10px 20px;
                                       border-radius: 10px;
                                       font-family: 'Montserrat', sans-serif;
                                       text-transform: uppercase;
                                       letter-spacing: 2px;
                                       background-image: linear-gradient(to right, #b55b53 0%, #5d3368 51%, #b55b53 100%);
                                       background-size: 200% auto;
                                       box-shadow: 0 0 20px rgba(0,0,0,.1);
                                       transition: .5s;"
                                     href="{{ url_for('sport_program', sport_id=2) }}"
                                    role="button">Read more about Sport</a><br><br></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <br><br><br><br>

    <div class="container-fluid" id="read" style="font-family: 'Inconsolata', monospace;">

        <div id="London" class="tabcontent" style="color: #b55b53">
            <h3 align="left">{{ nutr_breakfast[0] }}</h3>
            <p align="left">{{ nutr_breakfast[1] }}</p>
            <hr>
            <h4 align="left">Список ингредиентов</h4>
            <p align="left">{{ nutr_breakfast[2] }}</p>
            <hr>
            <h4 align="left">ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ</h4>
            <ul align="left" style="list-style-type:none">
                <li>{{ nutr_breakfast[3] }}</li>
                <li>{{ nutr_breakfast[4] }}</li>
            </ul>
        </div>

        <div id="Paris" class="tabcontent" style="color: #38707e">
            <h3 align="left">{{ nutr_dinner[0] }}</h3>
            <p align="left">{{ nutr_dinner[1] }}</p>
            <hr>
            <h4 align="left">Список ингредиентов</h4>
            <p align="left">{{ nutr_dinner[2] }}</p>
            <hr>
            <h4 align="left">ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ</h4>
            <ul align="left" style="list-style-type:none">
                <li>{{ nutr_dinner[3] }}</li>
                <li>{{ nutr_dinner[4] }}</li>
                <li>{{ nutr_dinner[5] }}</li>
            </ul>
        </div>

        <div id="Tokyo" class="tabcontent" style="color: rgb(71, 41, 97)">
            <h3 align="left">{{ nutr_supper[0] }}</h3>
            <p align="left">{{ nutr_supper[1] }}</p>
            <hr>
            <h4 align="left">Список ингредиентов</h4>
            <p align="left">{{ nutr_supper[2] }}</p>
            <hr>
            <h4 align="left">ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ</h4>
            <ul align="left" style="list-style-type:none">
                <li>{{ nutr_supper[3] }}</li>
                <li>{{ nutr_supper[4] }}</li>
                <li>{{ nutr_supper[5] }}</li>
            </ul>
        </div>

        <div id="Oslo" class="tabcontent" style="color:yellow;">
            <h3 align="left">{{ nutr_snack[0] }}</h3>
            <p align="left">{{ nutr_snack[1] }}</p>
            <hr>
            <h4 align="left">Список ингредиентов</h4>
            <p align="left">{{ nutr_snack[2] }}</p>
            <hr>
            <h4 align="left">ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ</h4>
            <ul align="left" style="list-style-type:none">
                <li>{{ nutr_snack[3] }}</li>
                <li>{{ nutr_snack[4] }}</li>
                <li>{{ nutr_snack[5] }}</li>
            </ul>
        </div>

        <button class="tablink" onclick="openCity('London', this, '#afe2ff')" id="defaultOpen">Завтрак</button>
        <button class="tablink" onclick="openCity('Paris', this, '#6ab56a')">Обед</button>
        <button class="tablink" onclick="openCity('Tokyo', this, '#2c84ff')">Ужин</button>
        <button class="tablink" onclick="openCity('Oslo', this, '#623168')">Закуски</button>

        <script>
            function openCity(cityName, elmnt, color) {
                // Hide all elements with class="tabcontent" by default */
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Remove the background color of all tablinks/buttons
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }

                // Show the specific tab content
                document.getElementById(cityName).style.display = "block";

                // Add the specific color to the button used to open the tab content
                elmnt.style.backgroundColor = color;
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>
    </div>
    <br><br><br><br><br><br><br>

{% endblock %}