{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/userRegistration.css">
{% endblock %}

{% block content %}
    <br> <br> <br> <br> <br> <br> <br> <br>
    <form action="" method="post" novalidate>
        <div class="container register"
             style="background-image: linear-gradient(to right, #e5b1a0 0%, #5d3368 31%, #e5b1a0 100%);">
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    <h3>Welcome</h3>
                    <p>You are 30 seconds away from getting the perfect body!</p>
                    <a href="{{ url_for('login') }}"><input type="submit" name="" value="Login"/><br/></a><br/>
                </div>
                <div class="col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                        {{ form.hidden_tag() }}
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Registration</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.login(maxlength=15, type="text", class="form-control", placeholder="Login") }}
                                        {% for error in form.login.errors %}
                                            <span style="color: #9f5a6c;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.ppassword(type="password", class="form-control", placeholder="Password") }}
                                        {% for error in form.ppassword.errors %}
                                            <span style="color: #9f5a6c;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.age(type="number", class="form-control", placeholder="Your Age") }}
                                        {% for error in form.age.errors %}
                                            <span style="color: #9f5a6c;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.height(type="number", class="form-control", placeholder="Your Height (sm)") }}
                                        {% for error in form.height.errors %}
                                            <span style="color: #9f5a6c;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.gender(type="radio", class="form-control", style="list-style-type: none;") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.email(type="text", class="form-control", placeholder="Your Email") }}
                                        {% for error in form.email.errors %}
                                            <span style="color: #9f5a6c;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.target_weight(type="number", class="form-control", placeholder="Your Target Weight (kg)") }}
                                        {% for error in form.target_weight.errors %}
                                            <span style="color: #9f5a6c;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.current_weight(type="number", class="form-control", placeholder="Your Current Weight (kg)") }}
                                        {% for error in form.current_weight.errors %}
                                            <span style="color: #9f5a6c;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.calories(type="number", class="form-control", placeholder="Number of calories per day") }}
                                        {% for error in form.calories.errors %}
                                            <span style="color: #9f5a6c;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <p><input id="submit" name="submit" type="submit" class="submit" value="Submit"
                                                  style="float: right;
                                                  margin-top: 10%;
                                                  border: none;
                                                  border-radius: 1.5rem;
                                                  padding: 2%;
                                                  background: #e5b1a0;
                                                  color: #495057;
                                                  font-weight: 600;
                                                  width: 50%;
                                                  cursor: pointer;">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}