{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/userProfile.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <br><br>
    <!--Главный блок мифов-->
    <div class="container emp-profile"
         style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%); font-family: 'Inconsolata', monospace;">
        <section class="dark-grey-text" id="Myths">
            <h3 class="text-center font-weight-bold mb-4 pb-2">{{ records[3] }}</h3>
            <hr>
            <p class="text-center text-muted w-responsive mx-auto mb-5">
            <h3>{{ sp_header[0] }}</h3></p>
            <h5>{{ sp_header[1] }}</h5>
            <div class="row">
                <div class="col-lg-5 mb-lg-0 mb-5">
                    <img src="/static/images/braden-collum-9HI8UJMSdZA-unsplash.jpg"
                         class="img-fluid rounded z-depth-1" alt="Sample project image">
                </div>
                <div class="col-lg-7">
                    <ul class="list-unstyled fa-ul mb-0">
                        <li class="d-flex justify-content-center pl-4">
                            <span class="fa-li"><i class="fas fa-book fa-2x cyan-text"></i></span>
                            <div>
                                <hr>
                                <h5 class="font-weight-bold mb-3">Разрушители мифов</h5>
                                <hr>
                                <ul>
                                    <h6>{{ sp_myths_header[0] }}</h6>
                                    <hr>
                                    <li class="text-muted">{{ sp_myths[0] }}</li>
                                    <hr>
                                    <h6>{{ sp_myths_header[1] }}</h6>
                                    <hr>
                                    <li class="text-muted">{{ sp_myths[1] }}</li>
                                    <hr>
                                    <h6>{{ sp_myths_header[2] }}</h6>
                                    <hr>
                                    <li class="text-muted">{{ sp_myths[2] }}</li>
                                    <hr>
                                    <h6>{{ sp_myths_header[3] }}</h6>
                                    <hr>
                                    <li class="text-muted">{{ sp_myths[3] }}</li>
                                    <hr>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="my-5">
        </section>
    </div>

    <!--Второй блок-->
    <div>
        <div class="container emp-profile"
             style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%); font-family: 'Inconsolata', monospace;"
             id="Advantages">
            <section class="text-center px-md-5 mx-md-5 dark-grey-text">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <h3>{{ sp_header[2] }}</h3>
                        <hr>
                        <h5>{{ sp_header[3] }}</h5>
                        <hr>
                        <h5 class="font-weight-bold mb-3"></h5>
                        <hr>
                        <br>
                        <ul style="list-style-type: none;" align="center">
                            <h6>{{ sp_myths_header[4] }}</h6>
                            <hr>
                            <li class="text-muted">{{ sp_myths[4] }}</li>
                            <hr>
                            <h6>{{ sp_myths_header[5] }}</h6>
                            <hr>
                            <li class="text-muted">{{ sp_myths[5] }}</li>
                            <hr>
                            <h6>{{ sp_myths_header[6] }}</h6>
                            <hr>
                            <li class="text-muted">{{ sp_myths[6] }}</li>
                            <hr>
                            <h6>{{ sp_myths_header[7] }}</h6>
                            <hr>
                            <li class="text-muted">{{ sp_myths[7] }}</li>
                            <hr>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <!--Блок мест-->
        <section class="dark-grey-text text-center" id="placetren">
            <div class="container emp-profile"
                 style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%); font-family: 'Inconsolata', monospace;"
                 id="Place">
                <h3>Рекомендуемое место для тренировок</h3>
                <hr>
                <p class="text-muted w-responsive mx-auto mb-5">Начать заниматься проще, чем вы думаете</p>
                <div class="row">

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="container emp-profile"
                             style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%);">
                            <div class="view overlay rounded z-depth-1">
                                <img src="/static/images/photo-1457969414820-5fdd86fc0b84.jpg" class="img-fluid"
                                     alt="Sample project image">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                                <h4 class="font-weight-bold mt-1 mb-3">{{ pl_name[0] }}</h4>
                                <p class="text-muted">{{ pl_desc[0] }}. {{ pl_desc[1] }}. {{ pl_desc[2] }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-8 col-md-6 mb-4">
                        <div class="container emp-profile"
                             style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%);">
                            <div class="view overlay rounded z-depth-1">
                                <h3>Упражнения, которые стоит делать каждому</h3>
                                <hr>
                                <h6>Делайте четыре ключевые позиции, каждая по 30 секунд:</h6>
                                <hr>
                            </div>

                            <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                                <p class="text-muted">
                                <table style='width: 100%;'>
                                    <tr style="vertical-align: center; padding: 5px;">
                                        <td style="width: 50%; background: rgba(181, 91, 83, 0.4); border-right: 5px solid #fcf2f0">
                                            <ul align="left">
                                                <h5>{{ train_name[0] }}</h5>
                                                <li>{{ train_desc[0] }}</li>
                                                <li>{{ train_desc[1] }}</li>
                                                <li>{{ train_desc[2] }}</li>
                                            </ul>
                                        </td>
                                        <td style="width: 10px;"></td>
                                        <td style="background: #fcf2f0; border-left: 5px solid #c4bab8;"><br>
                                            <ol align="left">
                                                <h5>{{ train_name[1] }}</h5>
                                                <li>{{ train_desc[3] }}</li>
                                                <li>{{ train_desc[4] }}</li>
                                                <li>{{ train_desc[5] }}</li>
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr style="vertical-align: center; padding: 5px;">
                                        <td style="width: 50%; background: #fcf2f0; border-right: 5px solid #c4bab8; "><br>
                                            <ol align="left">
                                                <h5>{{ train_name[2] }}</h5>
                                                <li>{{ train_desc[3] }}</li>
                                                <li>{{ train_desc[4] }}</li>
                                                <li>{{ train_desc[5] }}</li>
                                            </ol>
                                        </td>
                                        <td style="width: 10px;"></td>
                                        <td style="background: rgba(181, 91, 83, 0.4); border-left: 5px solid #fcf2f0;">
                                            <ul align="left">
                                                <h5>{{ train_name[3] }}</h5>
                                                <li>{{ train_desc[6] }}</li>
                                                <li>{{ train_desc[7] }}</li>
                                                <li>{{ train_desc[8] }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}