{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/profile.css">
{% endblock %}

{% block content %}
    <br><br>
    <div class="container emp-profile"
         style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%);">


        <section class="dark-grey-text">

            <h3 class="text-center font-weight-bold mb-4 pb-2">{{ records[2] }}</h3>
            <p class="text-center text-muted w-responsive mx-auto mb-5">Стань частью самой большой спортивной команды.
                Тренируйся: выкладывайся на полную на любой из тренировок.
                Все необходимое
                для победы у тебя уже есть.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5 mb-lg-0 mb-5">

                    <img src="/static/images/braden-collum-9HI8UJMSdZA-unsplash.jpg"
                         class="img-fluid rounded z-depth-1" alt="Sample project image">

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7">

                    <ul class="list-unstyled fa-ul mb-0">
                        <li class="d-flex justify-content-center pl-4">
                            <span class="fa-li"><i class="fas fa-book fa-2x cyan-text"></i></span>
                            <div>
                                <h5 class="font-weight-bold mb-3">Education</h5>
                                <p class="text-muted">Все знания, необходимые для тренировок ты сможешь получить в нашем
                                    приложении</p>
                            </div>
                        </li>
                        <li class="d-flex justify-content-center pl-4">
                            <span class="fa-li"><i class="fas fa-code fa-2x red-text"></i></span>
                            <div>
                                <h5 class="font-weight-bold mb-3">Technology & Finance</h5>
                                <p class="text-muted">Всё, что от тебя требуется - просто скачать на телефон. Это будет
                                    лишь одно из сотни твоих приложений, но при этом, самое важное. Самое главное: быть
                                    спортивным - бесплатно.</p>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-5">

        </section>
        <!-- Section: Block Content -->


    </div>
    <div>

        <div class="container emp-profile"
             style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%);">


            <!--Section: Content-->
            <section class="text-center px-md-5 mx-md-5 dark-grey-text">

                <!--Grid row-->
                <div class="row d-flex justify-content-center">

                    <!--Grid column-->
                    <div class="col-lg-7">

                        <p>{{ records[3] }}</p>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </section>
            <!--Section: Content-->


        </div>


        <!-- Section: Block Content -->
        <section class="dark-grey-text text-center" id="placetren">
            <div class="container emp-profile"
                 style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%);">
                <h3>Our best place</h3>
                <p class="text-muted w-responsive mx-auto mb-5">Начать заниматься проще, чем вы думаете</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="container emp-profile"
                         style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%);">
                        <div class="view overlay rounded z-depth-1">
                            <img src="/static/images/tiago-aleixo-ToUPFfxkmw8-unsplash.jpg" class="img-fluid"
                                 alt="Sample project image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                            <h4 class="font-weight-bold mt-1 mb-3">{{ records[4] }}</h4>
                            <p class="text-muted">{{ records[5] }}</p>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="container emp-profile"
                         style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%);">
                        <div class="view overlay rounded z-depth-1">
                            <img src="/static/images/victor-freitas-qZ-U9z4TQ6A-unsplash.jpg" class="img-fluid"
                                 alt="Sample project image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                            <h4 class="font-weight-bold mt-1 mb-3">{{ records[4] }}</h4>
                            <p class="text-muted">{{ records[5] }}</p>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="container emp-profile"
                         style="background-image: linear-gradient(to right, #e5cbd1 0%, #afe2ff 71%, #e5b1a0 100%);">
                        <div class="view overlay rounded z-depth-1">
                            <img src="/static/images/dominik-martin-b2-fBVrfx0o-unsplash.jpg" class="img-fluid"
                                 alt="Sample project image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                            <h4 class="font-weight-bold mt-1 mb-3">{{ records[4] }}</h4>
                            <p class="text-muted">{{ records[5] }}</p>

                        </div>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
 </div>
        </section>
        <!-- Section: Block Content -->


    </div>

{% endblock %}