{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="/static/styles/test.css">
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">It's time to learn more about yourself</h1>
        <p class="lead">Help us make the selection more accurate</p>
        <hr class="my-4">
        <p>Just do it</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#que1" role="button">Pass test</a>
        </p>
    </div>

    <script>
        var sum = 0;

        function fun1(name) {
            var rad = document.getElementsByName(name);
            for (var i = 0; i < rad.length; i++) {
                if (rad[i].checked) {
                    var res = rad[i].value;
                    sum += Number(res);
                    {#alert('Выбран ' + i + ' radiobutton ' + res + ' ' + sum);#}
                }
            }
        }

        function fun2() {

            if (sum > 0) {
                if (sum <= 10) {
                     sum = 10;
                } else if (sum > 10 && sum <= 20) {
                     sum = 20;
                } else if (sum > 20 && sum <= 30) {
                     sum = 30;
                } else if (sum > 30 && sum <= 40) {
                     sum = 40;
                } else if (sum > 40 && sum <= 50) {
                     sum = 50;
                } else if (sum > 50 && sum <= 60) {
                     sum = 60;
                } else {
                     sum = 60;
                }

                switch (sum) {
                    case 10:
                        document.location.href = "{{ url_for('nutrition_program', nutrition_id=10) }}";
                        break;
                    case 20:
                        document.location.href = "{{ url_for('nutrition_program', nutrition_id=20) }}";
                        break;
                    case 30:
                        document.location.href = "{{ url_for('nutrition_program', nutrition_id=30) }}";
                        break;
                    case 40:
                        document.location.href = "{{ url_for('nutrition_program', nutrition_id=40) }}";
                        break;
                    case 50:
                        document.location.href = "{{ url_for('nutrition_program', nutrition_id=50) }}";
                        break;
                    case 60:
                        document.location.href = "{{ url_for('nutrition_program', nutrition_id=60) }}";
                        break;
                }
            } else {
                alert("Something was wrong. Please pass the test again.")
            }
        }


        {#function on() {#}
        {#    document.getElementById("overlay").style.display = "block";}#}
        {##}
        {#function off() {#}
        {#    document.getElementById("overlay").style.display = "none";}#}
    </script>
    {% for row in len_ans %}
        <div class="container my-5 py-5 z-depth-1" style="background-color: #F5E2CD">
            <section class="text-center px-md-5 mx-md-5 dark-grey-text" id="que1">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <h4>{{ row[0] }}</h4>
                        {% for ans in row[1] %}
                            <p><input type="radio" name="{{ row[2] }}" value="{{ ans[1] }}"
                                      onclick="this.disabled = true; fun1({{ row[2] }})"> {{ ans[0] }} </p>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    {% endfor %}
            <button type="button" onclick="fun2();">
                Отправить
            </button>
{#    <div id="overlay" onclick="off()">#}
{#        <div id="text">#}
{#            <p align="center">Рекомендованная программа:</p>#}
{#            <p align="center">Тут будет название программы</p>#}
{#            <h4 align="center"><a href="">Изучить программу</a></h4>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div style="padding:20px" align="center">#}
{#        <button onclick="on(); fun2();">Отправить</button>#}
{#    </div>#}
{% endblock %}