.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}


.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


#Paris {background: linear-gradient(#fff, #6ab56a);}
#London {background: linear-gradient(#fff, #afe2ff);}
#Tokyo {background: linear-gradient(#fff, #2c84ff);}
#Oslo {background: linear-gradient(#fff, #623168);}